<!DOCTYPE html>
<html>
<head>
    <title>Remote_control_{{odm_name}}</title>
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <script src="/static/jquery.min.js"></script>    
    <script src="/static/da/utility.js"></script>
    <script src="/static/config.js"></script>
    <script src="/static/da/csmapi.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/da/rc/slider.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.2/rangeslider.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.2/rangeslider.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
</head>
<body>
    {% for index,df in enumerate(odf_list) %}
        <div class="slidecontainer idf-block" name="{{'RangeSlider'+str(index+1)}}">
            <div class="column slider">
              <h4>{{ df[0] }}</h4>
              <input type="range" min="0" max="100" step="1" value="50">
            </div>
        </div>
    {% end %}    

    <script type="text/javascript">
        var do_id = "{{in_do_id}}";
        var p_id = "{{p_id}}";
        var odm_name = "{{odm_name}}";
        var d_name = p_id + '.Control_' + odm_name;
        let reg = /&#39;/g;
        var odf_list = JSON.parse('{{ odf_list }}'.replace(reg, '"'));
        var registered = false;
    </script>
    <script src="/static/da/rc/mobile_rc_main.js"></script>
</body>
</html>