<!DOCTYPE html>
<html>
<head>
    <title>Remote_control_{{odm_name}}</title>
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <script src="/resources/static/jquery.min.js"></script>    
    <script src="/resources/static/da/utility.js"></script>
    <script src="/resources/static/config.js"></script>
    <script src="/resources/static/da/csmapi.js"></script>

    <link rel="stylesheet" type="text/css" href="/resources/static/da/rc/slider.css">
    <link rel="stylesheet" type="text/css" href="/resources/static/da/rc/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.2/rangeslider.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.2/rangeslider.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
</head>
<body>
    {% for df in enumerate(idf_list) %}
        {% if 'Acceleration' in df[1] %}
          <div class="idf-block">
            <section>
              <h4>Acceleration</h4>
            </section>
            <section>
              <div class="col col-xs-4 col-sm-4">
                <label><i>x</i></label>
                <span id="Ax">0</span>
              </div>
              <div class="col col-xs-4 col-sm-4">
                <label><i>y</i></label>
                <span id="Ay">0</span>
              </div>
              <div class="col col-xs-4 col-sm-4">
                <label><i>z</i></label>
                <span id="Az">0</span>
              </div>
            </section>
          </div>
        {% elif 'Gyroscope' in df[1] %}
          <div class="idf-block">
            <section>
              <h4>Gyroscope</h4>
            </section>
            <section>
              <div class="col col-xs-4 col-sm-4">
                <label><i>&alpha;</i></label>
                <span id="Gx">0</span>
              </div>
              <div class="col col-xs-4 col-sm-4">
                <label><i>&beta;</i></label>
                <span id="Gy">0</span>
              </div>
              <div class="col col-xs-4 col-sm-4">
                <label><i>&gamma;</i></label>
                <span id="Gz">0</span>
              </div>
            </section>
          </div>
        {% elif 'Orientation' in df[1] %}
          <div class="idf-block">
            <section>
              <h4>Orientation</h4>
            </section>
            <section>
              <div class="col col-xs-4 col-sm-4">
                <label><i>&alpha;</i></label>
                <span id="Ox">0</span>
              </div>
              <div class="col col-xs-4 col-sm-4">
                <label><i>&beta;</i></label>
                <span id="Oy">0</span>
              </div>
              <div class="col col-xs-4 col-sm-4">
                <label><i>&gamma;</i></label>
                <span id="Oz">0</span>
              </div>
            </section>
          </div>
        {% elif 'RangeSlider' in df[1] %}
          {% set odf_id=df[1][len(df[1])-1] %}
          <div class="slidecontainer idf-block" name="{{ _(df[1]) }}">
            <div class="column slider">
              <h4>{{ odf_list[int(odf_id)-1] }}</h4>
              <input type="range" min="0" max="100" step="1" value="50">
            </div>
          </div>
        {% end %}
    {% end %}    

    <script type="text/javascript">
        var do_id = "{{in_do_id}}";
        var p_id = "{{p_id}}";
        var odm_name = "{{odm_name}}";
        var d_name = p_id + '.Control_' + odm_name;
        var idf_list = JSON.parse('{{ idf_list }}'.replace(/&#39;/g,"\""));
        var registered = false;
    </script>
    <script src="/resources/static/da/rc/mobile_rc_main.js"></script>
    <script src="/resources/static/da/rc/sensor.js"></script>
</body>
</html>
