<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link rel="stylesheet" type="text/css" href="/resources/static/da/vp/vp_index_style.css">
    <link href="/resources/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>project -- {{odm_name}}</title>
    <script src="/resources/static/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
    <script src="/resources/static/config.js"></script>

    <script src="/resources/static/da/utility.js"></script>
    <script src="/resources/static/da/csmapi.js"></script>

    <script src="/resources/static/da/vp/jquery.mousewheel.js"></script>
    <script src="/resources/static/da/vp/jquery-ui.custom.min.js"></script>
    <script src="/resources/static/da/vp/RScompiler.2.7.min.js"></script>
    <script src="/resources/static/da/vp/RSrun.2.7.min.js"></script>
    <script src="/resources/static/da/vp/compiler.2.7.min.js"></script>
    <script src="/resources/static/da/vp/glow.2.7.min.js"></script>
    <script src="/resources/static/da/vp/dan.js"></script>
</head>

<body>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3" id="left-col">
        <div id="title">Ple<span id='hidden_link'>a</span>se scan following QRCode</div>
        <div id="qrcode"></div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 container ">   
        <div id="glowscript" class="glowscript"></div>
    </div>
    
    <script type="text/javascript">
        var p_id = "{{ p_id }}";
        var odm_name = "{{ odm_name }}";
        var d_name;
        var odo_id = "{{ odo_id }}";
        var device_mac_addr;
    </script>
    <script src="/resources/static/da/vp/dai.js"></script>
    <script src="/resources/static/da/proj_manage.js"></script>
</body>
</html>
