<!DOCTYPE html>
<html>
<head>
    <title>IoTtalk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/main_page/style.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
    </nav>
    <div class="container vp_list">
        <div class="col-md-3 mx-auto">
            <h2>choose application</h2>
            <a href="/project/Ball-throw2" class="list-group-item">Ball-throw2</a>
            <a href="/project/Precession" class="list-group-item">Precession</a>
            <a href="/project/Universe" class="list-group-item">Universe</a>
            <a href="/project/Snakepend" class="list-group-item">Snakepend</a>
        </div>
    </div>
</body>
</html>
