<!DOCTYPE html>
<html>
<head>
    <title>IoTtalk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/resources/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/static/main_page/style.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
    </nav>
    <div class="container vp_list">
        <div class="col-md-3 mx-auto">
            <h2>choose application</h2>
            {% for vp in vp_list %}
            <a href="/project/{{ vp }}" class="list-group-item">{{ vp }}</a>
            {% end %}
        </div>
    </div>
</body>
</html>
